@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
  
.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.anton-sc-regular {
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: "Pretendard";
}

/****************** .loading ******************/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.loading .inner {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.loading .title {
    display: flex;
    font-size: 10rem;
    position: relative; 
    overflow: hidden;
    z-index: 1;
    /* font-family: "Bebas Neue", serif; */ /* 적용하면 선 짧아짐 */
    font-weight: 400;
}
.loading .title .flowing_text {
    display: flex;
    white-space: nowrap; 
    animation: flow 5s linear infinite;
}
.loading .title .flowing_text span {
    font-weight: bold;
    color: #fff;
    margin: 0 50px;
}

.loading .title span {
    color: #fff;
    opacity: 0; 
    display: inline-block;
    position: relative;
    animation: typing 2s steps(1) forwards;
}
.loading .title .flowing_text.running {
    animation: flow 5s linear infinite;
}
@keyframes flow {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.loading .line {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: #fff;
}
.loading .line.top, .loading .line.bot {
    display: block;
    width: 100%; 
}
.loading .line.top {
    margin-bottom: 20px;
}
.loading .line.bot {
    margin-top: 20px;
}
@keyframes typing {
    0% {
        opacity: 0;
        top: 10px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
@keyframes lineEffect {
    0% {
        width: 0;
        opacity: 1;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}
.loading .title span:nth-child(1) {
    animation-delay: 0s;
}
.loading .title span:nth-child(2) {
    animation-delay: 0.2s;
}
.loading .title span:nth-child(3) {
    animation-delay: 0.4s;
}
.loading .title span:nth-child(4) {
    animation-delay: 0.6s;
}
.loading .title span:nth-child(5) {
    animation-delay: 0.8s;
}
.loading .title span:nth-child(6) {
    animation-delay: 1s;
}
.loading .title span:nth-child(7) {
    animation-delay: 1.2s;
}
.loading .title span:nth-child(8) {
    animation-delay: 1.4s;
}
.loading .title span:nth-child(9) {
    animation-delay: 1.6s;
}
.loading .line1 {
    width: 100%;
    height: 2px;
    background-color: #fff;
}
/****************** .header ******************/
.header {
    height: 100px;
    width: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
}
.header .inner {
    height: 100%;
    width: calc(100% - 60px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .inner .logo {
    font-family: var(--titlefont);
    font-size: 18px;
}
.header .inner .nav {
    height: 100%;
    font-size: 18px;
}
.header .inner .nav .gnb {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 80px;
    color: #333;
}
.header .inner .nav .gnb li {
    position: relative;
}

/****************** .section0 ******************/
#section0 .inner {
    max-width: 1480px;
    width: calc(100% - 60px);
    margin: 0 auto;
}
#section0 .inner .text p{ 
    font-size: 25px;
    font-weight: 500;
    padding-left: 20px;
    height: 100%;
    color: #333333;
    gap: 20px;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30) 3s forwards, blink-caret 0.75s step-end infinite; /* 애니메이션 적용 */
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#section0 .title {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
#section0 .title li {
    opacity: 0;
    transform: translateY(-10px);
    animation: typing 1s ease forwards;
    margin: 0 5px;
}
#section0 .title li:nth-child(1) {
    animation-delay: 0.1s;
}
#section0 .title li:nth-child(2) {
    animation-delay: 0.3s;
}
#section0 .title li:nth-child(3) {
    animation-delay: 0.5s;
}
#section0 .title li:nth-child(4) {
    animation-delay: 0.7s;
}
#section0 .title li:nth-child(5) {
    animation-delay: 0.9s;
}
#section0 .title li:nth-child(6) {
    animation-delay: 1s;
}
#section0 .title li:nth-child(7) {
    animation-delay: 1.5s;
}
#section0 .title li:nth-child(8) {
    animation-delay: 1.7s;
}
#section0 .title li:nth-child(9) {
    animation: bounceDownToUp 1.2s ease-out 1 forwards;
    animation-delay: 1.9s;
}

@keyframes typing {
    0% {
        opacity: 0;
        transform: translateY(-50px); /* 위에서 내려오는 시작 위치 */
    }
    30% {
        opacity: 0.6;
        transform: translateY(10px); /* 반동 느낌을 주기 위해 내려옴 */
    }
    60% {
        opacity: 0.8;
        transform: translateY(-5px); /* 위로 약간 튕기는 효과 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 최종 위치 */
    }
}
@keyframes bounceDownToUp {
    0% {
        opacity: 0;
        transform: translateY(-100px); /* 위에서 시작 */
    }
    40% {
        opacity: 1;
        transform: translateY(90px); /* 살짝 튕기듯 내려오기 */
    }
    60% {
        opacity: 1;
        transform: translateY(-10px); /* 다시 위로 튕기기 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 원래 위치로 돌아오기 */
    }
}
#section0 .title img {
    width: 100%;
    height: auto;
}
#section0 .inner .scroll_down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.scroll_down span {
    display: inline-block;
    animation: bounce 1.2s infinite;
}

/****************** .section1 ******************/
#section1 .inner {
    /* height: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    max-width: 1280px;
    width: calc(100% - 60px);
    margin: 0 auto;
}
#section1 .inner .profile_img {
    width: 340px;          
    height: 460px;         
}

#section1 .inner .profile_img img {         
    height: 100%;         
    object-fit: cover;      
}
#section1 .inner .text_wrap {
    font-size: 18px;
}
#section1 .inner .text_wrap h2 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}
#section1 .profile_wrap .sub_title p  {
    color: #999999;
    font-weight: 500;
}

#section1 .inner .text_wrap .profile {
    margin-bottom: 50px;
}
#section1 .inner .text_wrap .profile .profile_wrap {
    display: flex;
    gap: 50px;
}
#section1 .inner .text_wrap .profile .profile_wrap > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.education {
    margin-bottom: 50px;
}
.education .education_wrap {
    display: flex;
    gap: 50px;
}

.education .education_wrap > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.education .education_wrap .date p {
    color: #999999;
    font-weight: 500;
}
#section1 .inner .text_wrap .skill .icon_wrap {
    display: flex;
    gap: 40px;
}
#section1 .inner .text_wrap .skill .icon_wrap img {
    object-fit: cover;
}
#section1 .inner .text_wrap .skill .icon_wrap figure {
    position: relative;
    height: 65px;
}

/****************** .section2 ******************/
#section2 {
    background-image: url(../img/section2.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
}
#section2 .inner .item1 > .text_wrap {
    background-color: #ebebeb;
    padding: 50px 120px;
    border-radius: 5%;
}
#section2 .inner .item2 > .text_wrap {
    background-color: #D7E2E4;
    padding: 50px 120px;
    border-radius: 5%;
}
#section2 .inner .item3 > .text_wrap {
    background-color: #F1D5D5;
    padding: 50px 120px;
    border-radius: 5%;
}
#section2 .inner .item4 > .text_wrap {
    padding: 40px 80px;
    border: 2px solid #858585;
    border-radius: 5%;
}
#section2 .inner .item5 > .text_wrap {
    padding: 40px 80px;
    border: 2px solid #858585;
    border-radius: 5%;
}
#section2 .inner .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:500px auto;
    font-size: 18px;
}
#section2 .inner .item .text_wrap {
    position: relative;
    max-width: 50%;
    margin-left: 15%;
}
#section2 .inner .item .text_wrap h3 {
    font-size: 55px;
    margin-bottom: 10px;
}
#section2 .inner .item .text_wrap p {
    font-size: 18px;
    font-weight: 400;
}
#section2 .inner .item .text_wrap ul:first-child li {
    font-weight: 800;
}
#section2 .inner .item .text_wrap ul:nth-child(2) li {
    font-weight: 400;
    font-size: 18px;
}

#section2 .inner .item .text_wrap .list {
    display: flex;
    gap: 40px;
    padding: 50px 0 50px;
}
#section2 .inner .item .text_wrap .list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#section2 .inner .item .mockup {
    width: 732px;
    height: 615px;
    background: url(../img/mockup_pc.png) center center / 732px no-repeat;
    position: relative;
    z-index: 2;
}
#section2 .inner .item .mockup .image_box {
    width: 682px;
    height: 431px;
    position: absolute;
    top: 25px;
    left: 25px;
    overflow: hidden;
    z-index: 1;
}
#section2 .inner .item .mockup .image_box:hover img {
    animation: pcSlide 4s 1 linear forwards;
}

@keyframes pcSlide {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-100% + 431px));
    }
}
#section2 .inner .item .mockup.purito .image_box:hover img {
    animation: pcSlidePurito 8s 1 linear forwards;
}

@keyframes pcSlidePurito {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-100% + 431px));
    }
}
#section2 .inner .item .mockup .mockup_mobile {
    width: 160px;
    height: 320px;
    background: url(../img/mockup_mobile.png)center center / 100% no-repeat;
    position: absolute;
    bottom: 0;
    right: -60px;
    z-index: 4;
}
#section2 .inner .item .mockup .mockup_mobile .image_mobile {
    width: 140px;
    height: 301px;
    position: absolute;
    top: 9px;
    left: 11px;
    overflow: hidden;
    border-radius: 15px;
}

.mockup .mockup_mobile .image_mobile:hover img {
    animation: mobileSlide 3s 1 linear forwards;
}

@keyframes mobileSlide {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-100% + 301px));
    }
}
#section2 .inner .item.item4 {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:500px auto;
    font-size: 18px;
}
#section2 .inner .item.item4 .mockup {
    width: 900px; 
    height: 750px;
    background: url(../img/펫피.svg) center center / contain no-repeat;
}
#section2 .inner .item.item5 .mockup {
    width: 900px; 
    height: 750px;
    background: url(../img/POPPLY.svg) center center / contain no-repeat;
}
#section2 .inner .item .btn_wrap a {
    padding: 15px 40px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
}
#section2 .inner .item .btn_wrap a:nth-child(1) {
    background-color: #fff;
    color: #000;
    border : 1px solid #333;
}
#section2 .inner .item .btn_wrap a:nth-child(1):hover , a:nth-child(2):hover{
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#section2 .inner .item .btn_wrap a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#section2 .inner .item .btn_wrap a:active {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/****************** .section3 ******************/
#section3 {
    padding: 10px 50px;
    margin-top: 80px;
    background-color: #f9f9f9;
    /* text-align: center; */
}
#section3 .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
#section3 .text_wrap {
    margin-top: 10%;
}

#section3 .text_wrap .title {
    font-size: 60px;
    font-weight: 700;
    color: #333;
    margin-bottom: 8px;
}
#section3 .text_wrap p {
    font-size: 18px;
    font-weight: 400;
    color: #999999;
    line-height: 1.4;
}
.design-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    justify-items: center; 
    align-items: center; 
    margin: 0 auto;
    max-width: 900px;
}
.design-item {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.design-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.design-item a {
    display: block;
    text-decoration: none;
}
.design1 {
    grid-column: span 3;
    grid-row: span 2;
}
.design2 {
    grid-column: span 3;
    grid-row: span 1;
}
.design3 {
    grid-column: span 4;
    grid-row: span 2;
}
.design4 {
    grid-column: span 3;
    grid-row: span 2;
}
.design5 {
    grid-column: span 4;
    grid-row: span 2;
}
.design6 {
    grid-column: span 3;
    grid-row: span 1;
}
.design-grid .design-item img {
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 1s;
}
.design-grid .design-item:hover img {
    filter: grayscale(0%);
    transform: scale(1.2);
}


/****************** .section4 ******************/
#section4 {
    background-color: #000;
}
#section4 .contact{
    width: 80%;
    height: 720px;
    margin: 0 auto;
    background-color: black;
    border: 2px solid white; 
    border-radius: 10px;
    color: white;
    overflow: hidden;
    text-align: center;
    position: relative;
}
#section4 .contact h2 {
    font-size: 240px;
    width: 100%;
    font-family: "DM Serif Text", serif;
    font-weight: 200;
    padding: 40px 0px 0px;
}
#section4 .contact .info {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    padding: 90px 0px;
}
#section4 .contact .info .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-left: 15%;
    top: 20px;
}
#section4 .contact .info .left p {
    font-size: 18px;
    font-weight: 200;
}
#section4 .contact .info .left .item {
    margin-top: 10px;
    margin-bottom: 10px;
}
#section4 .contact .info .left .item p {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 200;
}

#section4 .contact .info .left .item  p img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
#section4 .contact .info .left .item p:hover img {
    transform: scale(1.2);
    filter: brightness(1.2);
}
#section4 .contact .info .right {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    width: 100%; 
    gap: 40px;
    margin-right: 20%;
}
#section4 .contact .right .item {
    display: flex;
    align-items: center;
}
#section4 .contact .info .right .item p {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}
#section4 .contact .info .right .item p img {
    margin-right: 10px;
}
#section4 .contact span {
    position: absolute;
    right: 19%;
    top: 80%;
    text-align: left; 
    font-size: 16px;
    line-height: 1.5;
}

#section4 .typing {
    position: relative;
    white-space: nowrap;
    color: transparent;
}
#section4 .typing::before {
    content: 'THANK YOU FOR TAKING THE PRECIOUS TIME TO CHECK YOUR PORTFOLIO !';
    position: absolute;
    color: #fff;
    top: 0;
    left: -5%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: pre-wrap; 
    border-right: 1px solid #333;
    animation: type 6s steps(40, end) infinite, blink 0.75s step-end infinite;
}
@keyframes type {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    70% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
#section4 .contact .info .right .item p a{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: underline;
    position: relative;
    transition: color 0.3s ease;
    color: #fff;
    background: transparent;
}

.contact .right .item p a:hover {
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.1); /* 처음에는 은은한 빛 */
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6); /* 마지막에는 더 강한 빛 */
    }
}
/************ .footer *************/
.footer {
    text-align: center; 
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer p {
    color: #888;
    font-size: 14px; 
    margin: 0; 
}
.fp-watermark {
    display: none;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active {
  color: #333;
}
#fp-nav ul li .fp-tooltip {
    color: #333;
}


